@mixin flexbox($direction, $wrap, $justify, $align, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}

@mixin roundImage($radius) {
	border-radius: $radius;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
}

@mixin resetList {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin textGradient($direction, $startColor, $endColor) {
	background: linear-gradient(to $direction, $startColor 0%, $endColor 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin pillButton($background, $color, $bigIcon: false) {
	background: $background;
	border-radius: 50rem;
	aspect-ratio: 1 / 1;
	display: inline-flex;
	svg {
		margin: auto;
		fill: $color;
		@if $bigIcon {
			height: 75%;
		} @else {
			height: 50%;
		}
	}
}
